* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $white;
  background-color: $white;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.main {
  width: 100%;
  height: 100vh;
}
.portada {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr 50px 50px 50px;
  grid-template-columns: 1fr;
  color: $current-play-primary;
  background-color: $black;
  background-image: linear-gradient(
    180deg,
    $black 60%,
    $current-play-primary-dark 100%
  );
}
.portada__artist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: $octopus-gradient;
}
.artist-container {
  position: relative;
  width: 100%;
  height: 80%;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1;
  background-color: $white;
}
.artist__btn {
    display: none;
    height: 100%;
    line-height: 2;
}
.artist-container:hover {
  cursor: pointer;
  background-color: transparent;
  .artist-names {
    display: none;
  }
  .artist__btn {
    display: block;
  }
}
.artist-names {
  position: absolute;
  top: 10px;
  display: block;
  width: 2150px;
  margin: 0 auto;
  overflow: hidden;
  color: $octopus-color;
  white-space: nowrap;
}
.artist-names .scroll-artist-names {
  display: inline-block;
  padding-left: 2150px;
  animation: move 30s linear infinite;
}
.artist-names-2 .scroll-artist-names {
  animation-delay: 15s;
}
.artist-names .scroll-artist-names span::after {
  padding-right: 1rem;
  padding-left: 1rem;
  content: "·";
}
.portada__title {
  z-index: 1;
  h1 {
    font-family: $font-family-serif;
    font-size: 3.8rem;
  }
}
.portada__image {
  background-color: $black;
  background-image: url("../images/theorphanofzhao.jpg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
}
.portada__description {
  p {
    padding-left: 1rem;
    font-family: $font-family-sans-serif;
    font-size: 1.3rem;
    font-weight: 200;
    line-height: 1.6;
    color: $white;
  }
}
.portada__info-btn {
  width: 100%;
  height: 100%;
  color: $white;
  background-color: transparent;
  border: none;
  border-top: 5px solid $white;
  outline: none;
  p {
    height: 100%;
    margin: auto;
    writing-mode: horizontal-tb;
    font-size: 1.2rem;
    font-weight: bolder;
    line-height: 2.5;
    text-align: center;
  }
}
.portada__info-btn:hover {
  cursor: pointer;
}
.portada__duration {
  display: none;
  font-weight: 500;
  color: $black;
}
.portada__schedule {
  display: none;
  font-weight: 500;
  color: $black;
}
.portada__prices {
  display: none;
  font-weight: 500;
  color: $black;
}
.portada__see-more-btn {
  font-size: 1.5rem;
  color: $white;
}
@media screen and (min-width: $limit-width-mobile) {
  .portada {
    background-image: linear-gradient(
      90deg,
      $black 60%,
      $current-play-primary-dark 100%
    );
    grid-template-columns: 10% 2fr 1fr 1fr 1fr 10% 50px;
    grid-template-rows: 1rem 10% 1fr 1fr 1fr 1fr 40px 40px 40px;
  }
  .portada__artist {
    background-color: $white;
    grid-row: 9;
    grid-column: 1 / -1;
  }
  .portada__title {
    grid-row: 2 / 4;
    grid-column: 2 / 7;
    h1 {
      font-size: 4.1rem;
    }
  }
  .portada__image {
    grid-row: 2 / 9;
    grid-column: 1 / 3;
  }
  .portada__description {
    grid-row: 4 / 7;
    grid-column: 3 / 7;
    p {
      font-size: 1.1rem;
    }
  }
  .portada__info-btn {
    grid-row: 2 / 4;
    grid-column: 7;
    border-top: none;
    border-left: 5px solid $white;
    p {
      font-size: 1.1rem;
      writing-mode: tb-rl;
    }
  }
  .portada__schedule {
    grid-row: 4 / 7;
    grid-column: 4 / 7;
  }
  .portada__prices {
    grid-row: 4 / 5;
    grid-column: 2;
  }
  .portada__duration {
    grid-row: 5 / 6;
    grid-column: 2;
  }
  .portada__see-more-btn {
    grid-row: 7;
    grid-column: 4 / 6;
  }
}
@media screen and (min-width: $limit-width-tablet) {
  .portada__title {
    grid-row: 2 / 4;
    grid-column: 2 / 5;
    h1 {
      font-size: 5rem;
    }
  }
  .portada__description {
    grid-row: 4 / 7;
    grid-column: 3 / 6;
  }
  .portada__info-btn {
    grid-row: 2 / 4;
    grid-column: 7;
  }
  .portada__schedule {
    grid-row: 4 / 7;
    grid-column: 4 / 6;
  }
  .portada__prices {
    grid-row: 4 / 5;
    grid-column: 2;
  }
  .portada__duration {
    grid-row: 5 / 6;
    grid-column: 2;
  }
}

.portada.show-schedule {
  grid-template-rows: 1fr 2fr 1fr 1fr 50px 50px 50px;
  background-color: $white;
  background-image: linear-gradient(
    0deg,
    $white 0%,
    $current-play-primary-dark 100%
  );
  .portada__title {
    color: $black;
  }
  .portada__image {
    display: none;
  }
  .portada__description {
    display: none !important;
  }
  .portada__schedule {
    display: block;
  }
  .portada__prices {
    display: block;
  }
  .portada__info-btn {
    background-color: $black;
  }
  .portada__duration {
    display: block;
  }
  .portada__see-more-btn {
    a {
      color: $black;
    }
    a:hover {
      text-decoration-color: $black;
      font-weight: 800;
    }
  }
}
@media screen and (min-width: $limit-width-mobile) {
  .portada.show-schedule {
    background-color: $white;
    background-image: linear-gradient(
      270deg,
      $white 10%,
      $current-play-primary-dark 100%
    );
    grid-template-columns: 10% 2fr 1fr 1fr 1fr 10% 50px;
    grid-template-rows: 1rem 10% 1fr 1fr 1fr 1fr 40px 40px 40px;
  }
  
}


@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
