.info__portada {
  padding: {
    top: 2rem;
    right: 2rem;
    bottom: 0;
    left: 2rem;
  }
  align-items: center;
  width: 100%;
  background-color: $black;
}
.info__portada__title {
  font-family: $font-family-serif;
  font-size: 3.5rem;
}
.info__portada__author {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.info__portada__image {
  width: 80%;
  max-width: 500px;
  height: auto;
}
@media screen and (min-width: $limit-width-mobile) {
  .info__portada__image {
    align-self: flex-end;
  }
}

.infoplay {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3,auto);
  max-width: 1100px;
  padding: 1rem;
  margin: auto;
  gap: 6rem;
  font-size: 1.2rem;
  line-height: 1.6;
}

@media screen and (min-width: $limit-width-mobile) {
  .infoplay {
    grid-template-columns: 1fr 2fr;
    grid-row: 1fr 1fr;
  }
  .infoplay__ficha {
    grid-column: 1 / -1;
  }
}
@media screen and (min-width: $limit-width-tablet) {
  .infoplay {
    padding: 2rem;
  }
}
.text-bold {
  font-weight: 900;
}
.blockquote--infoplay {
  font-family: $font-family-serif;
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 1.2;
}

.act {
  display: grid;
  grid-template-columns: 90px 3fr;
  grid-template-rows: 1fr;
  gap: .5rem;
}
.act__title {
  letter-spacing: 2px;
}
.act__description {
  padding-left: 1rem;
  border-left: 1px solid $black;
}
