.info__portada {
  padding: {
    top: 2rem;
    right: 2rem;
    bottom: 0;
    left: 2rem;
  }
  align-items: center;
  width: 100%;
  background-color: $black;
  overflow: hidden;
}
.info__portada__title {
  font-family: $font-family-serif;
  font-size: 3.5rem;
}
.info__portada__author {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.info__portada__image {
  width: 80%;
  max-width: 500px;
  height: auto;
}
@media screen and (min-width: $limit-width-mobile) {
  .info__portada__image {
    align-self: flex-end;
  }
}

.infoplay {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  max-width: 1100px;
  padding: 2rem;
  margin: auto;
  gap: 2rem;
  font-size: 1.2rem;
  line-height: 1.6;
}
.infoplay__cite {
  grid-row: 1;
}
.infoplay__content {
  grid-row: 2;
}
.infoplay__general {
  grid-row: 3;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 1fr;
  gap: 2rem;
}
.infoplay__schedule,
.infoplay__prices,
.infoplay__duration,
.infoplay__creatives,
.infoplay__cast {
  grid-column: 1 / -1;
}
@media screen and (min-width: $limit-width-mobile) {
  .infoplay {
    max-width: 700px;
  }
  .infoplay__cast {
    grid-column: 1;
  }
  .infoplay__creatives {
    grid-column: 2;
  }
}
@media screen and (min-width: $limit-width-tablet) {
  .infoplay {
    max-width: 100%;
    grid-template-columns: 1fr 2fr;
    grid-row: repeat(3, auto);
    padding: 2rem;
  }
  .infoplay__cite {
    grid-column: 1 / -1;
    grid-row: 1;
  }
  .infoplay__general {
    grid-column: 1;
    grid-row: 2;
  }
  .infoplay__content {
    padding-left: 2rem;
  }
  .infoplay__cast,
  .infoplay__creatives {
    grid-column: 1 / -1;
  }
}
.text-bold {
  font-weight: 900;
}
.blockquote--infoplay {
  font-family: $font-family-serif;
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 1.2;
}

.act {
  display: grid;
  grid-template-columns: 90px 3fr;
  grid-template-rows: 1fr;
  gap: 0.5rem;
}
.act__title {
  letter-spacing: 2px;
}
.act__description {
  padding-left: 1rem;
  border-left: 1px solid $black;
}
