.list__item--generalinfo,
.list__item--infoplay {
  margin: {
    top: 1rem;
    bottom: 1rem;
  }
  p {
    margin-bottom: 0;
  }
}

.list__item--generalinfo {
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;
}

.list--indexContent {
  max-width: 800px;
  margin: 1rem auto 2rem;
  list-style: disc;
}
