.nav__list {
  padding: 0;
  margin: auto;
  text-align: center;
}
.nav__list-item {
  display: block;
  margin: {
    top: .5rem;
    bottom: .5rem;
  };
  text-transform: uppercase;
  a {
    font-weight: 600;
    text-decoration: none;
  }
}
.nav__list--footer .nav__list-item.active {
  a {
    background-color: $white;
  }
}
@media screen and (min-width: $limit-width-tablet) {
  .nav__list-item {
    display: inline-block;
  }
  .nav__list-item::after {
    padding: 1rem;
    content: "|";
  }
  .nav__list-item:last-child::after {
    content: "";
  }
}

.nav__list--footer {
  a {
    font-weight: 400;
  }
}


@each $color, $value in $theme-colors {
  .nav__list-item--#{$color} {
    color: $value;
  }
}
