@use "sass:color";

$font-family-sans-serif: "Raleway", "Helvetica Neue", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-serif: "Merriweather", "Georgia", "Times New Roman", serif;

$uoc-corporate: #000078;
$uoc-masterbrand: #73edff;
$uoc-bg: color.scale($uoc-masterbrand, $lightness: 70%);

$mqMinWidth: 420px;

$current-play-primary: #6a0002;
$current-play-primary-dark: #3a0102;
$white: #fff;
$black: #020204;
$octopus-color: #7e458b;
$octopus-color-accent: #f65d65;
$octopus-color-bg: #fb9378;

$octopus-gradient: linear-gradient(
  90deg,
  $octopus-color 0%,
  $octopus-color-accent 50%,
  $octopus-color-bg 100%
);

$limit-width-mobile: 500px;
$limit-width-tablet: 1100px;

$theme-colors: (
  "primary": $octopus-color,
);

$octopus-colors: (
  "white": $white,
  "octopus": $octopus-color,
  "octopus-accent": $octopus-color-accent,
  "octopus-bg": $octopus-color-bg,
);
$theme-colors: map-merge($theme-colors, $octopus-colors);

@function tint-color($color, $weight) {
  @return mix(white, $color, $weight);
}

@function shade-color($color, $weight) {
  @return mix(black, $color, $weight);
}

@function shift-color($color, $weight) {
  @return if(
    $weight > 0,
    shade-color($color, $weight),
    tint-color($color, -$weight)
  );
}

@each $color, $value in $theme-colors {
  .swatch-#{$color} {
    color: color-contrast($value);
  }
}
